*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

#contactbody{
    height: 100vh;
    width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6FCFF;
}
.right{
    height: 70vh;
    width: 30vw;
    background-color: #F2E29B;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px 100px 30px 30px;
}
.left{
    height: 70vh;
    width: 45vw;
    background-color: #1ca0a7;
}
#address{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
#address h3{
    font-size: 2vw;
    color: #03095c;
}
#address h4{
    font-size: 1.3vw;
}
#address p{
    font-size: 1.2vw;
}

#contact_form {
    margin: auto;
    box-sizing: border-box;
    width: 80%;            
}
#contact_form h3{
    font-size: 2vw;
    color: #03095c;
    margin-left: 1vw;
}

#contact_form input[type="text"],
#contact_form input[type="email"],
#contact_form input[type="tel"],
#contact_form textarea,
#contact_form input[type="submit"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    border-width: 2px;
    border-style: groove;
    border-color: silver;
}

#contact_form input[type="submit"] {
    color: #000000;
    font-weight: 700;
    background-color: #DAB735;
}

#contact_form input[type="submit"]:hover {
    background-color: #6864df;
    color: white;
}

#contact_form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
